*{
  font-family: 'Montserrat';
}

body {
  background-color: lightgrey;
  margin: 0%;
  border: 0%;
  padding: 0%;
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "h1 saved-palettes"
    "color-box-section saved-palettes"
    "buttons-section saved-palettes";
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  padding-left: 50px;
  padding-right:50px;
}

.main-section {
  display: flex;
  flex-direction: column;
}

h1 {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 10vw;
    width: 80vw;
    background: linear-gradient(
      60deg,
      hsl(0, 75%, 50%) 10%,
      hsl(20, 75%, 50%) 10%,
      hsl(20, 75%, 50%) 25%,
      hsl(50, 75%, 50%) 25%,
      hsl(50, 75%, 50%) 40%,
      hsl(130, 75%, 50%) 40%,
      hsl(130, 75%, 50%) 55%,
      hsl(200, 75%, 50%) 55%,
      hsl(200, 75%, 50%) 70%,
      hsl(260, 75%, 50%) 70%,
      hsl(260, 75%, 50%) 85%,
      hsl(0, 75%, 50%) 85%
    );
    text-shadow: 0.5px -0.6vw #fff4;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
       animation: 10s Rainbow linear infinite,
       3s Always ease alternate infinite;
  }
  @keyframes Rainbow {
    100% { background-position: 100vw 0px; }
  }

.color-box-section {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
  height: 500px;
  border-top: medium black solid;
  border-bottom: medium black solid;
}

.color-boxs{
  width: 20%;
  text-align: center;
}

.hex-lock {
  display: flex;
  align-items: center;
}

.lock-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  font-size: 150%;
}

.saved-palettes-display {
  flex-direction: column;
  display: flex;
  border-left: medium black solid;
  height: 100%;
  width: 100%;
  font-size: 100%;
}

h3 {
  font-size: 180%;
  margin-left: 30px;
} 

.palettes-display {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.trash-button {
  width: 100%;
  height: 110%;
}

img {
  height: 40%;
  width: 43%;
  margin-top: 25px;
}

ul {
  display: flex;
  width: 5%;
  height: 100%;
  justify-content: space-evenly;
  border: 1px black solid;
}

.saved-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.buttons-section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

button {
  font-size: 25px;
  margin-bottom: 20px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10px;
}

.hidden {
  display: none;
}
